$headerFont: 'Rubik Broken Fax', system-ui;
$mainFont: 'Inclusive Sans', sans-serif;
$headerColorText: #ffff;
$btnColorText: white;
$colorText: aliceblue;
$bacgroundContent: #4b945d2d;
$color_green: rgba(44, 119, 63, 0.4);
$bgcContainer: rgba(239, 253, 230, 0.4);