@import '../../styles/vars.scss';

.container {
    box-sizing: border-box;
    height: 100%;
    background-color: $bgcContainer;
}

table {
    width: 90%;
    margin:0px auto;
    padding: 30px 0;
    color: white;
    font-size: 20px;
    border-spacing: 8px;

    .hash {
        width: 5%;
    }

    .btns {
        width: 19%;

        img {
            width: 1.2em;
            height: 1.2em;
        }

        .btn_save, .btn_edit, .btn_delete {
            padding: 5px 3px;
            color: white;
            border-radius: 5px;
        }

        .btn_save {
            width: 50%;
            background-color: green;
        }
        .btn_edit {
            width: 25%;
            background-color: orange;
        }
        .btn_delete {
            width: 25%;
            background-color: red;
        }
    }
}

tr, td {
    width: 25%;
    height: 50px;
    padding: 5px;
    border: 5px solid none;
    background-color: rgba(46, 66, 48, 0.677);
    border-radius: 5px;

    & :hover {
        box-shadow: 0px -5px 10px 10px rgb(97, 136, 112);
    }
}

