@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@400;700&family=Oswald&family=Roboto:wght@400;700&family=Rubik+Broken+Fax&display=swap');

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 10px 40px;
    background-color: #f707074a;
}

.logo_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
    height: 110px;

    img {
        width: 150px;
        height: 100px;
    }

    .app_name {
        font-family: 'Rubik Broken Fax', system-ui;
        font-size: 48px;
        color: #063d8f;
        padding: 0 10px;
    }
}



.nav_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100px;

    a {
        font-family: 'Rubik Broken Fax', system-ui;
        font-size: 35px;
        letter-spacing: 2px;
        color: #063d8f;
        text-decoration: none;
    }
}